POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=prestamos_db
POSTGRES_PORT=5433

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

JWT_SECRET_KEY=cambia-esta-clave-por-una-real-y-secreta